<header>
	<div id="banner">	
		<img src="images/myPic.jpg" class="alignright" alt="banner" />
		<h2>Hi, I'm Ryan</h2>
		<p>I code in any language, but I prefer Javascript. I started a RESTful API using online tutorials.<a href="/api">My Api</a>. Now it's on here working perfect.<br>

		An API is an appilcations program interface. In a nutshell, it's an access point into an apps code and today they're popularly used to share & structure, BIG DATA.<br> 

		I use jQuery & Backbone to instantly sync my views with data models and collections,<br>

		I use frameworks such as Backbone, Angular, Batman, CanJS, Ember, Meteor, Knockout, Spine, Nice, ThroneJS to build bleeding edge webapps. If you want Real-Time, Event-Driven, Data-Bound options, you need one of these.<br> 

		Want a real world example? GMAIL created Angular.js by developing a way to load template views in memory and make (post initialization) load times instant. For users this means, NO WAITING. For you it means, MORE USERS.<br>  

		If you're planning for the future, you MUST be using one of these.<br>

		Lastly, I'm a PhoneGap freak. I love it, use it and will gladly port any project init.<br>
		</p>
	</div>	
</header>			
	<section id="main">
		<h1>Technical Details</h1>
		
		<pre><code>if( !this ).then(that)</code></pre>
		<br>
		<h2>Engineering</h2>
		<ul>
		<li>Writing Javascript code: Stright up, can become anything you want!</li>
		<li>Building HTML5(mobile-first) webapps: This is what websites are converting into, RIGHT NOW!</li>
		<li>Building REST APIs: I use Express, a Javascript Library for writing servers.</li> 
		<li>Building Data Backends: I use Redis, MongoDB, MySQL, and services like Parse.com to get backends up</li>
		<li>Lauching EC2 Instances: I use the Amazon Cloud, S3 for storage and Route 53 for domain routing.</li>
		</ul><br>
		<h2>Testing & Remote Access</h2>
		<ul>
		<li>While writing code I run live a version that I continously run tests against. If you have a special use case that requires unit tests, I can write those too.</li> 
		<li>To gain remote access I use the command line, where I SSH into servers using RSA private keys.</li> 
		<li>For sharing code I always init a new git and push changes to github ( <a href="http://github.com/mrryanalexander/scoop333.git">Fork This</a> ).</li> 
		</ul><br>
		<br>These tools are some of the tools that developers use across the internet to build the apps and sites we have all come to love. None of these tools are for kids, well some were probably created by kids, but you know how this goes. These technolgies will help you more than anything else. The web is changing very fast and to stay on pace with it, you need to adopt some of these into your framework. Contact me below so I can help you get started. 
	
	</section>
		
		<aside>
			<h1>Hire Me</h1>
			<h2 id="contact-error" class="hidden"></h2>
			<p>Please fill out this form. You will get a confirmation email once you send it and I will be in touch, ASAP. You can select frontend, backend or both. If you want me to join your team, put TEAM instead of or after your company name. TTYS!</p>
			<form id="contact">
					<li><input type="text" name="firstName" placeholder="What's your first name?" /></li>
					<li><input type="text" name="lastName" placeholder="What's your last name?"></li>
					<li><input type="text" name="company" placeholder="What's your company name?"></li>
					<li><input type="text" name="position" placeholder="What's your job title?"></li>
					<li><input type="email" name="email" placeholder="What's your email?" /></li>
					<li><input type="checkbox" name="back" id="Back" value="Backend">  Backend-Development</li>
					<li><input type="checkbox" name="front" value="Frontend">Frontend-Development
					<li><textarea name="msg">Tell me about your project!</textarea>
					<li><input type="submit" value="SEND"></li>
			</form>
		</aside>
		<div class="clearfix"></div>
		<footer>			
			&copy; 2014 - Scoop333
		</footer>

