<header>
	<div id="banner">
		<img src="images/backnode.png" alt="banner" />
	</div>	
</header>			
<section id="main">
	<h1>My Toolbelt</h1>
		<table id="tools">
			<tr>
				<th>Backend-dev</th>
				<th>Frontend-Dev</th>
			</tr>
			<tr>
				<td>Express.js</td>
				<td>Google's Yeoman</td>
			</tr>
			<tr>
				<td>NPM</td>
				<td>Backbone.js</td>
			</tr>
			<tr>
				<td>Git CLI</td>
				<td>Require.js</td>
			</tr>
			<tr>
				<td>Mongo DB</td>
				<td>Grunt.js</td>
			</tr>
		</table>
			<p>My toolbelt enables me to quickly produce webapps that are responsive, fast and minified into a one line file. I incorporate best the practices learned by others to speed load and processing times. I write my own CSS, but I can use a bootstrap of your choice.</p>
		</section>
		
		<aside>
			<h1>Hire Me</h1>
			<h2 id="contact-error" class="hidden"></h2>
			<p>Select the type of service, enter your info and click send. You will recieve a confirmation email once I get your message and I will be in touch, ASAP! Thanks</p>
			<form id="contact">
					<li><input type="text" name="firstName" placeholder="What's your first name?" /></li>
					<li><input type="text" name="lastName" placeholder="What's your last name?"></li>
					<li><input type="text" name="company" placeholder="What's your company name?"></li>
					<li><input type="text" name="position" placeholder="What's your job title?"></li>
					<li><input type="email" name="email" placeholder="What's your email?" /></li>
					<li><input type="checkbox" name="back" id="Back" value="Backend">  Backend-Development</li>
					<li><input type="checkbox" name="front" value="Frontend">Frontend-Development
					<li><textarea name="msg">Tell me about your project!</textarea>
					<li><input type="submit" value="SEND"></li>
			</form>
		</aside>
		<div class="clearfix"></div>
		<footer>			
			&copy; 2014 - Scoop333
		</footer>

